@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:500,700");
html, body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #850825;
  color: #fbccbf;
  margin: 0px;
  background-image: url("../img/candy.png");
  background-size: 245px 380px;
  background-position: right top;
  background-repeat: repeat-y;
}

header {
background: #8d0303;
color: white;
padding: 15px;
}

nav a {
color: rgb(255, 255, 255);
text-decoration: none;
margin-right: 15px;
font-size: 17px;
}

nav a:hover {
text-decoration: underline;
}

.container {
max-width: 900px;
margin: 40px auto;
background: rgb(114, 40, 40);
padding: 25px;
border-radius: 10px;
box-shadow: 0 0 10px #ccc;
}


table {
width: 100%;
border-collapse: collapse;
margin-top: 15px;
}

table, th, td {
border: 1px solid #090707;
}

th {
background: #681414;
color: white;
padding: 10px;
}

.circle {
width: 130px;
height: 130px;
border-radius: 50%;
background: #ffbf00;
color: black;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 20px;
right: 20px;
font-weight: bold;
font-size: 18px;
}

footer {
  background-color: #730720;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
}